<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/static/css/index.css}"/>
    <script src="../static/js/myjs.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<div id="wrapper">
    <div class="navigation_area">
        <ul th:if="${user} eq null">
            <li><a href="/search">搜索</a></li>
            <li><a href="/login">登录</a></li>
            <li>|</li>
            <li><a href="/register">注册</a></li>
        </ul>
        <ul th:unless="${user} eq null">
            <li><a href="/search">搜索</a></li>
            <li><a href="/user/1" th:href="'/user/'+${user.id}" th:text="${user.name}">用户名</a></li>
            <li>|</li>
            <li><a href="/logout">退出</a></li>
        </ul>
        <div class="clearfloat"></div>
    </div>
    <div id="checklogin">

    </div>
    <div class="article_area" th:each="article : ${map}">
        <div id="article_item">
            <h2 id="article_title" th:text="${article.title}?: '无'">标题要长长长长长长...</h2>
            <p id="article_abstract" th:text="${article.content}">摘要什么的说不清楚！看全部吧2333</p>
            <div id="article_info">
                <span id="article_keywords">
                    关键词：
                    <label th:text="${article.keyWords}?:'无'">无</label>
                </span>
                <span id="article_author">
                    作者：
                    <label style="margin-right: 5px" th:text="${article.author.name}?:'匿名'">匿名</label>
                    时间：
                    <label th:text="${#dates.format(article.lastModifyDate,'yyyy-MM-dd')}?:'未知'">未知</label>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>