div.navigation_area {
    display: flex;
    background: #3f51b5;
    justify-content: flex-end;
}

div.navigation_area ul {
    float: right;
    display: inline-flex;
}

div.navigation_area ul li {
    list-style: none;
    padding: 5px 10px;
    float: left;
    color: #ffffffff;
}

div.navigation_area ul li a {
    color: #ffffffff;
}

div.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

div.article_title {
    position: relative;
    float: top;
    bottom: auto;
    clear: both;
}

div .article_area {
    position: relative;
    bottom: auto;
    clear: both;
    float: top;
}

a {

}